.pannedetails-container{
    width: 100%;
  height: calc(100vh - 80px);
  position: absolute;
  background-color: #f8f9fd;
  top: 82px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: scroll;
  padding: 30px 55px;
}
.Historique-container{
    width: 100%;
}
.pannedetails-title{
    text-align: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back-button{
    background-color: #D4171B;
    border-radius: 10px;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.icon{
    color: #f8f9fd;
    size: 25px;
}

.pannedetails-title h3{
    color: #D4171B;
    font-size: 20px;
    font-weight: 600;
}
.pannedetails-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pannedetails-info form{
    padding-left:50px ;
    padding-right: 50px;
    justify-content: center;
}
.progress{
    margin-top: 25px;
    width: 100%;
}

.depose-btn,.primaryButton{
    border-radius: 10px;
    background-color: #D4171B;
    color: #f8f9fd;
    padding: 10px 50px;
    width: 30vh;
}

.Cancel-btn{
    border-radius: 10px;
    background-color: #f8f9fd;
    color:#D4171B ;
    border: 1px solid #D4171B;
    padding: 10px 50px;
    width: 30vh;
}

.form-section{
    display: flex;
    justify-content: center;
}
.pannedetails-Button{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding:0px 50px;
    justify-content: space-between;
    align-items: center;
}
.pannedetails-Button1{
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}


.pannedetails-Button2{
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
}

.Progress-btn button{
    padding: 10px 25px;
    background-color: #D4171B;
    border: none;
    margin: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  .Progress-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.progressbar{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.file-input {
    display: none;
  }

  .file-input-label {
    background-color: #D4171B;
    color: white;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  }
.image{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.inputButton{
    padding: 5px 15px;
    background-color: #D4171B;
    border: none;
    margin-left: 30px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.inputButton label{
    font-size: 16px;
}

.userbtn{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.userbtn input{
        padding: 10px 25px;
        background-color: #D4171B;
        border: none;
        margin:0px 10px;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        height: 47px;
    } 


    .progress-toogle{
        justify-content:space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0px;
      }

      .left-toogle{
    margin-right: 20px;
      }

      .right-toogle{
        align-items:flex-start;
        margin-left: 20px;
        height: 325px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
          }
.right-toogle-container{
    margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
          }

          .right-toogle-container label{
            margin-top: 0px;
          }

@media only screen and (max-width:1215px){
    
    .pannedetails-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .pannedetails-Button{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

    .pannedetails-Button1{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:0px;
    }
    .depose-btn,.primaryButton,.Cancel-btn{
        margin-top: 15px;
        margin-right: 0px;
        margin-left: 0px;
        width: 40vh;
    }
    .progress-toogle{
        display: flex;
        flex-direction: column;
    }
    .right-toogle{
        margin-top: 20px;
        margin-left: 0px;
    }


    
    
    
    
}